<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jjoey.sportseco">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".extras.SportsEcoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="sports_eco.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="11111" />

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".activities.SessionsActivity" />
        <activity android:name=".activities.AttendanceActivity" />
        <activity android:name=".activities.FeedbackActivity" />
        <activity android:name=".activities.StartSessionActivity" />
        <activity android:name=".activities.SelectBatchActivity" />
        <activity android:name=".activities.ProgramsActivity" />
        <activity android:name=".activities.AllPlayersActivity" />
        <activity android:name=".activities.CoachProfileActivity" />
        <activity android:name=".activities.PlayerDetailsActivity"></activity>
    </application>

</manifest>